<a href="https://colab.research.google.com/github/hekmat-ashqer/python/blob/main/first_colab_hello_word.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# add two integers together
1 + 1

2

In [ ]:
# Find the difference between two numbers
4 - 1

3

In [ ]:
# This operator raises the number to its left to the power of the number to its right
2 ** 4

16

In [ ]:
# Multiply two numbers
2 * 3

6

In [ ]:
# The modulo (%) operator returns the remainder of the division
20 % 3

2

In [ ]:
# Divide the number on the left by the number on the right and drop the remainder.
20 // 3

6

In [ ]:
# this is simple calculation for Order of Operations
(1 + 4) / 2

2.5

In [ ]:
# this is simple calculation for Order of Operations

1+4/2

3.0

In [ ]:
# round to keep 2 places after the decimal
round(10/3)

3

In [ ]:
# round to keep 2 places after the decimal
round(10/3, 2)

3.33

In [ ]:
# We will define a bool
12 == (3*4)

True

In [ ]:
# We will define a bool
12 == (7*8)

False

In [ ]:
# We will define a bool
5 == 5

True

In [ ]:
# We will define a bool
5 != 2

True

In [ ]:
# We will define a bool
5 > 2

True

In [ ]:
# We will define a bool
2 < 5

True

In [ ]:
print("I\nlove\ncoding!")

I
love
coding!

In [ ]:
print(" i \n love \n python")

 i
 love
 python

In [ ]:
# check the data type
type(6)

int

In [ ]:
# check the data type
type(" i \n love \n python")

str

In [ ]:
# check the data type
type(5==2)

bool

In [ ]:
# check the data type
type(5.2)

float

In [ ]:
# check the type
type(6*.5)

float

In [ ]:
# Run this cell to declare the variable and print what the variable 'a' points to.
# Declare a variable, a, and point it to 9
a = 9
# Print the value that the variable a points to.
print(a)

9

In [ ]:
# Declare a variable, b, and point it to the number 14
b = 14

In [ ]:
# Run this cell to declare the variable max_value as the value that max(a,b) returns.
# Remember that we declared variables a and b in previous cells.
max_value = max(a, b)
# Print the value that max_value points to.
print(max_value)

14

In [ ]:
# Run this cell to see what the difference between b and a is.
difference = b-a
print(difference)

5

In [ ]:
# Does .upper() return a value or change a value in place?
message = 'hello'
caps = message.upper()
print(message)
print(caps)

hello
HELLO

In [ ]:
# Use an f-string to insert variable values
regular_price = 300
sale = .2
sale_price = (1-sale)*regular_price
statement = f'The orignal cost was ${regular_price}, but I purchased it on sale for ${sale_price}.'
print(statement)
type(regular_price)
print('\n')

type(sale)
print('\n')

type(sale_price)

print('\n')
type(statement)

The orignal cost was $300, but I purchased it on sale for $240.0.

str

In [ ]:
# Use an f-string to insert variable values
regular_price = 300
sale = .2
sale_price = (1-sale)*regular_price
statement = f"The orignal cost was "+f", but I purchased it on sale for ${sale_price}."
print(statement)

The orignal cost was , but I purchased it on sale for $240.0.

In [ ]:
# Create a list object declared as the variable grocery
grocery = ['eggs', 'milk']
print(grocery)

['eggs', 'milk']

In [ ]:
# add "cheese" to our list. Does this change the object in place?
grocery.append('cheese')
print(grocery)

['eggs', 'milk', 'cheese']

In [ ]:
# Declare a whole number value (it will default to data type int)
amount = 6
type(amount)

int

In [ ]:
# Recast the amount variable as a float
amount = float(amount)
type(amount)

float

In [ ]:
# Declare a decimal value (it will default to data type float)
value = 23.85
type(value)

float

In [ ]:
# Create a new variable where value has been converted to an int
value_int = int(value)
type(value_int)

int

In [ ]:
# See how converting to an int has impacted our value
print(value_int)

23

In [ ]:
value = 23.85
rounded_value = round(value)
type(rounded_value)

int

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

p1 = Person("John", 36)

print(p1)

<__main__.Person object at 0x7e95302b0cd0>

In [ ]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def __str__(self):
    return f"{self.name}({self.age})"

p1 = Person("John", 36)

print(p1)

John(36)

In [ ]:
word_list = ['this', 'is', 'a', 'list', 'of', 'strings']
random_list = [12, 'frog', ['this','is','a','list','in','a','list'], True, 3.14]
print(word_list)
print(random_list)

['this', 'is', 'a', 'list', 'of', 'strings']
[12, 'frog', ['this', 'is', 'a', 'list', 'in', 'a', 'list'], True, 3.14]

In [ ]:
word_list.remove('a')
print(word_list)

['this', 'is', 'list', 'of', 'strings']

In [ ]:
# use .append() to add an item to the word_list
word_list.append('cat')
print(word_list)

['this', 'is', 'list', 'of', 'strings', 'cat']

In [ ]:
# Combine two lists using the + operator
word_list + random_list

['this',
 'is',
 'list',
 'of',
 'strings',
 'cat',
 12,
 'frog',
 ['this', 'is', 'a', 'list', 'in', 'a', 'list'],
 True,
 3.14]

In [ ]:
# Demo of tuples of the same data type or mixed data types
integer_tuple = (1,2,3,4,5)
random_tuple = (1, 'horse', integer_tuple, word_list, False)
new_list = word_list + random_list
new_tuble = random_tuple+integer_tuple
print(new_list)
print(new_tuble)

['this', 'is', 'list', 'of', 'strings', 'cat', 12, 'frog', ['this', 'is', 'a', 'list', 'in', 'a', 'list'], True, 3.14]
(1, 'horse', (1, 2, 3, 4, 5), ['this', 'is', 'list', 'of', 'strings', 'cat'], False, 1, 2, 3, 4, 5)

In [ ]:
# Indexing a range from a tuple
print(random_tuple[0:2])

(1, 'horse')

In [ ]:
# Indexing a range from a tuple
print(word_list[0:2])

['this', 'is']

In [ ]:
# Create a dictionary of states and capitals
state_caps = {'Ohio':'Columbus', 'Alabama':'Montgomery', 'Washington':'Olympia'}

In [ ]:
# Change the value associated with a key
state_caps['Utah'] = 'Salt Lake City'
print(state_caps)

{'Ohio': 'Columbus', 'Alabama': 'Montgomery', 'Washington': 'Olympia', 'Utah': 'Salt Lake City'}

In [ ]:
# removing a key value pair from the dict with .pop()
state_caps.pop('Ohio')
print(f'After popping, the dictionary now looks like this: {state_caps}.')

After popping, the dictionary now looks like this: {'Alabama': 'Montgomery', 'Washington': 'Olympia', 'Utah': 'Salt Lake City'}.

In [ ]:
# create list of states
states_list = ['Indiana', 'Kentucky', 'Texas', 'Idaho']
# create list of matching capitals
caps_list = ['Indianapolis', 'Frankfort', 'Austin', 'Boise']

In [ ]:
# combine the two lists into a dict
zip_dict = dict(zip(states_list, caps_list))
print(f'We created the following dictionary: {zip_dict}')

We created the following dictionary: {'Indiana': 'Indianapolis', 'Kentucky': 'Frankfort', 'Texas': 'Austin', 'Idaho': 'Boise'}

In [ ]:
# Add one dictionary to another
state_caps.update(zip_dict)
print(state_caps)

{'Alabama': 'Montgomery', 'Washington': 'Olympia', 'Utah': 'Salt Lake City', 'Indiana': 'Indianapolis', 'Kentucky': 'Frankfort', 'Texas': 'Austin', 'Idaho': 'Boise'}

In [ ]:
# create list of states
states_list_new = ['Indiana', 'Kentucky', 'Texas', 'aho']
# create list of matching capitals
caps_list_new = ['Indianapolis', 'Frankfort', 'Austin']
zip_dict = dict(zip(states_list_new, caps_list_new))
print(f'We created the following dictionary: {zip_dict}')

We created the following dictionary: {'Indiana': 'Indianapolis', 'Kentucky': 'Frankfort', 'Texas': 'Austin'}

In [ ]:
# define the list to be iterated on
X = [1, 2, 3, 4, 5,]

# write a for loop
for number in X:
  double_number = number*2
  print(double_number)

2
4
6
8
10

In [ ]:
# create an empty list to store the new values
X_double = []

In [ ]:
for number in X:
  double_number = number*2
  X_double.append(double_number)

  # print the new list
print(X_double)

[2, 4, 6, 8, 10, 2, 4, 6, 8, 10]

In [ ]:
# Initialize variables
fahrenheit_temps = [65, 60, 55, 72, 67, 84]
celsius_temps = []
# Loop over Fahrenheit temps, convert them, and append the result to celsius temps
for f_temp in fahrenheit_temps:
  # Convert Farhenheit to Celsius
  c_temp = (f_temp - 32) * (5/9)
  # Round Celsius to 2 decimal places
  c_temp = round(c_temp, 2)
  # Append Celsius temp to list of Celsius temps
  celsius_temps.append(c_temp)
print(celsius_temps)

[18.33, 15.56, 12.78, 22.22, 19.44, 28.89]

In [ ]:
# Run this cell to create a dictionary with room type and standard rate
standard_dict = {'Basic': 100,
              'Deluxe': 125,
              'Balcony' : 200,
              'Luxury' : 250}
standard_dict

{'Basic': 100, 'Deluxe': 125, 'Balcony': 200, 'Luxury': 250}

In [ ]:
# Loop through the dictionary to print "___ rooms are available!"
for key in standard_dict:
  print(f'{key} rooms are available!')

Basic rooms are available!
Deluxe rooms are available!
Balcony rooms are available!
Luxury rooms are available!

In [ ]:
# Loop through the dictionary to print "___ rooms are available!"
for room_type in standard_dict:
  print(f'{room_type} rooms are available!')

Basic rooms are available!
Deluxe rooms are available!
Balcony rooms are available!
Luxury rooms are available!

In [ ]:
# use a for loop to print "__ rooms are available for only $__ a night."
for key, value in standard_dict.items():
  print(f'{key} rooms are available for only ${value} a night.')

Basic rooms are available for only $100 a night.
Deluxe rooms are available for only $125 a night.
Balcony rooms are available for only $200 a night.
Luxury rooms are available for only $250 a night.

In [ ]:
# redefine a
a = 30
b = 20
# example of an if and else statement
if a < b:
  print('a is less than b')
else:
  print('a is not less than b')

a is not less than b

In [ ]:
# example of an if/elif/else statement
if a < b:
  print('a is less than b')
elif a == b:
  print('a is equal to b')
else:
  print('a is greater than b')

a is greater than b

In [ ]:
age = 17
provisional = True
# nested conditions for driving eligibility
if age < 16:
  print('You are too young to drive')
elif age >= 18:
  print('You are eligible to drive without a provisional license')
else:
  if provisional == True:
    print('You are eligible to drive with your provisional license')
  else:
    print('You need a provisional license to be eligible to drive')

You are eligible to drive with your provisional license

In [ ]:
# write condition to evaluate if a number is BOTH greater than 10 AND odd
num = 13
if (num > 10) & (num % 2 != 0):
  print('number is greater than 10 and odd')

number is greater than 10 and odd

In [ ]:
# write condition to evaluate if a number is BOTH greater than 10 AND odd
num = 12
if (num > 10) & (num % 2 != 0):
  print('number is greater than 10 and odd')
elif (num > 10):
  print('number is greater than 10 and even')
elif (num % 2 != 0):
  print('number is less than or equal to ten and odd')
else:
  print('number is less than ten and even')

number is greater than 10 and even