<a href="https://colab.research.google.com/github/hekmat-ashqer/python/blob/main/second_colab_python_basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# define a custom function to subtract one value from another
def return_difference(a, b):
  return a - b

In [ ]:
# call our custom function
return_difference(8, 3)

5

In [ ]:
# Define variables
cars = 30
trucks = 10
return_difference(cars, trucks)


# define a variable based on the return of our custom function
c = return_difference(cars, trucks)
c

20

In [ ]:
# Custom function to calculate celsius from fahrenheit with return statement
def convert_f_to_c(f_temp):
  # Convert Farhenheit to Celsius
  global c_temp

  c_temp = (f_temp - 32) * (5/9)
  # Round Celsius to 2 decimal places
  c_temp = round(c_temp, 2)
  return c_temp

# Test the function with no return statement
x = convert_f_to_c(50)
print(c_temp)

10.0

In [ ]:
# define a list of temperatures
week_1 = [45, 55, 49, 60, 52, 55, 58]

# Define a function to print the minimum temperature
def extremes(temps,decision='minimum'):
  if(decision=="minimum"):
    min_temp = min(temps)
    print(f'The minimum temperature was {min_temp}.')
  elif (decision=="maximum"):
    max_temp = max(temps)
    print(f'The maximum temperature was {max_temp}.')
  else:
    print(f' you should select ')
  # Test our function
extremes(week_1)

The minimum temperature was 45.

In [ ]:
# This will result in a syntax error
print(hello')

SyntaxError: unterminated string literal (detected at line 2) (<ipython-input-21-0cc87a5f2eae>, line 2)

In [ ]:
list_of_customers = ['Bradley', 'Miranda', 'Tarik', 'Corinne']
customer_purchases = [3, 5, 1]


# instantiate a new dictionary
customer_lookup = {}
# iterate through the list of customers

print(f'count of list customer_purchases{len(customer_purchases)}')
print(f'count of list list_of_customers{len(list_of_customers)}')
# check contents of each list
print(f'Our customer list is {list_of_customers}.')
print(f'Our customer purchases list is {customer_purchases}.')

for i in range(len(list_of_customers)):
  print(f'value of i: {i}')
  # create a new key for the customer name and set the value to the number of purchases
  name = list_of_customers[i]
  customer_lookup[name] = customer_purchases[i]
  print(f'successfully added item: {i}')

In [ ]:
# instantiate a new dictionary
list_of_customers = ['Bradley', 'Miranda', 'Tarik', 'Corinne']
customer_purchases = [3, 5, 1]
customer_purchases.insert(1, 7)

customer_lookup = {}
# iterate through the list of customers
for i in range(len(list_of_customers)):
  # create a new key for the customer name and set the value to the number of purchases
  name = list_of_customers[i]
  customer_lookup[name] = customer_purchases[i]
print(customer_lookup)

{'Bradley': 3, 'Miranda': 7, 'Tarik': 5, 'Corinne': 1}

In [ ]:
# Find and correct the error
def Physics_Welcome_Message(name, id):
  print("Hello " + name + "! Welcome to your Physics class. Your id is " + id + ". We know you will rock.")

Custom Functions


---

In [ ]:
# Lists of Fahrenheit temps
week_1 = [45, 55, 49, 60, 52, 55, 58]
week_2 = [51, 49, 62, 50, 53, 56, 59]
week_3 = [60, 60, 61, 62, 57, 59, 58]
week_4 = [59, 63, 62, 61, 65, 66, 62]

In [ ]:
# List of Celsius temps
week_5_celsius = [15, 16, 14, 19, 17, 17, 16 ]

In [ ]:
# Custom function to calculate celsius from fahrenheit
def convert_f_to_c(f_temp):
  # Convert Farhenheit to Celsius
  c_temp = (f_temp - 32) * (5/9)
  # Round Celsius to 2 decimal places
  c_temp = round(c_temp, 2)
  return c_temp

In [ ]:
# Testing the loop for creating list of Celsisus temps
celsius_temps = []
for f_temp in week_1:
  # Insert your new Fahrenheit to Celsius Fuction here
  c_temp = convert_f_to_c(f_temp)
  #Append Celsius temp to list of Celsius temps
  celsius_temps.append(c_temp)
print(f'The temperatures in Celsius are: {celsius_temps}')

The temperatures in Celsius are: [7.22, 12.78, 9.44, 15.56, 11.11, 12.78, 14.44]

In [ ]:
# Let's add a modified version of this for loop to our function
def report(temps):
  # Initate empty list for Celsius values
  celsius_temps = []
  # Loop through temps, convert, and add to celsius_temps list
  for f_temp in temps:
    c_temp = convert_f_to_c(f_temp)
    celsius_temps.append(c_temp)
  print(f'The temperatures in Celsius are: {celsius_temps}')

In [ ]:
# Testing the function
report(week_1)

The temperatures in Celsius are: [7.22, 12.78, 9.44, 15.56, 11.11, 12.78, 14.44]

In [ ]:
# Defining extreme function from prevous lesson
def extremes(temps, direction = 'minimum'):
  if direction == 'minimum':
    min_temp = min(temps)
    print(f'The minimum temperature was {min_temp}.')
  elif direction == 'maximum':
    max_temp = max(temps)
    print(f'The maximum temperature was {max_temp}.')
  else:
    print('The second argument defaults to "minimum"  or can be "maximum".')

In [ ]:
# Add the extremes helper function
def report(temps):
  # Initialize list for celsius values
  celsius_temps = []
  # Loop through temps, convert, and add to celsius_temps list
  for f_temp in temps:
    c_temp = convert_f_to_c(f_temp)
    celsius_temps.append(c_temp)
  # Use extremes() function to output the 'minimum'
  extremes(celsius_temps, direction = 'minimum')

In [ ]:
# Testing the report function
report(week_1)

The minimum temperature was 7.22.

In [ ]:
# Add the option to convert or not with default of convert = True
# Add conditional statements
def report(temps,convert = True):
  # Initialize list for celsius values
  celsius_temps = []
  # Perform the conversion if needed
  if convert == True:
    for f_temp in temps:
      c_temp = convert_f_to_c(f_temp)
      celsius_temps.append(c_temp)
  # If conversion is not needed, just fill in the celsius_temps with the given values
  elif convert == False:
    celsius_temps = temps
  else:
    print('Convert defaults to True or can be False')
    return
  # Use extremes function to print the minimum
  extremes(celsius_temps, direction= 'minimum')
  # Use extremes function to print the maximum
  extremes(celsius_temps, direction = 'maximum')

In [ ]:
# Test default for convert
report(week_1)
print('week_1 \n')

# Test convert = False with Celsius data
report(week_5_celsius, convert = False)
print('week_5_celsius \n')

# Using function once it is written
report(week_2)
print('week_2 \n')
# Using function once it is written
report(week_3)
print('week_3 \n')
# Using function once it is written
report(week_4)
print('week_4 \n')

The minimum temperature was 7.22.
The maximum temperature was 15.56.
week_1

The minimum temperature was 14.
The maximum temperature was 19.
week_5_celsius

The minimum temperature was 9.44.
The maximum temperature was 16.67.
week_2

The minimum temperature was 13.89.
The maximum temperature was 16.67.
week_3

The minimum temperature was 15.0.
The maximum temperature was 18.89.
week_4

In [ ]:
def calc_mean(week_1, verbose = False):
  # Calculate the numerator (sum)
  # Start with a total of 0
  total = 0
  # Add each temp to total in a loop
  for temp in week_1:
    total = total + temp
  N = len(week_1)
  mean = total/N
  mean = round(mean,2)
  if verbose==True:
    print(f'The mean temperature was {mean}.')
  else:
    return mean

In [ ]:
# The other weeks of temp data from last lesosn
week_2 =  [51, 49, 62, 50, 53, 56, 59]
week_3 = [60, 60, 61, 62, 57, 59, 58]
week_4 = [59, 63, 62, 61, 65, 66, 62]


calc_mean(week_2,True)
calc_mean(week_3,True)
calc_mean(week_4,True)

The mean temperature was 54.29.
The mean temperature was 59.57.
The mean temperature was 62.57.

In [ ]:
# this imports the numpy library
import numpy as np

In [ ]:
np.mean([1,2,3])
from numpy import mean

In [ ]:
# Our data from the custom functions lessons:
week_1 = [45, 55, 49, 60, 52, 55, 58]
week_2 = [51, 49, 62, 50, 53, 56, 59]
week_3 = [60, 60, 61, 62, 57, 59, 58]
week_4 = [59, 63, 62, 61, 65, 66, 62]

In [ ]:
# use numpy mean function
np.mean(week_1)

53.42857142857143

In [ ]:
# use numpy median function
np.median(week_1)

55.0

In [ ]:
print(week_1)

[45, 49, 52, 55, 55, 58, 60]

In [ ]:
from statistics import mode
# use mode function
mode(week_1)

55